html {
    background: #43AA8B;
}

.wrapper {
    padding: 10px;
    background: #43AA8B;
    height: 97vh;
}

* {
    font-family: 'Roboto Mono', monospace;
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 40px;
    padding: 10px;
}

header div a {
    padding: 10px;
    color: black;
    text-decoration: none;
    border-radius: 500px;
    font-weight: bold;
    transition: all .3s ease-in;
}

header div a:hover {
    background: #000;
    border-radius: 500px;
    color: #43AA8B;
}

header div a:first-child {
    margin-right: 10px;
}

header div a:last-child {
    margin-left: 10px;
}

.active {
    background: #000;
    border-radius: 500px;
    color: #43AA8B;
}

.push {
    position: absolute;
    border-bottom-right-radius: 7px;
    transform: scale(0);
    transform-origin: top;
    text-align: center;
    min-width: 100px;
    padding: 15px;
    background: lightgreen;
    transition: all .3s ease-in-out;
}

.push span {
    color: #fff;
    font-weight: bold;
}

.push-active {
    transform: scale(1);
}