.wrapper {
    padding: 10px;
}

* {
    font-family: 'Roboto Mono', monospace;
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 40px;
    padding: 10px;
}

header div a {
    padding: 10px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: all .3s ease-in;
}

header div a:hover {
    background: cyan;
    border-radius: 5px;
    color: yellowgreen;
}

header div a:first-child {
    margin-right: 10px;
}

header div a:last-child {
    margin-left: 10px;
}

.active {
    background: cyan;
}